/* Based on the main portal CSS*/
@import url("../weblearn/portal.css");

/*wrapper for mast head elements - children are 3 blocks - #mastLogo,#mastBanner,#mastLogin*/
#mastHead{
	clear: both;
	margin:15px auto auto 15px;
	position: relative; /* Container for absolute mastLogo */
}

/*container wrapping branding images - portal outputs one /library/skin/<skin name>/images/logo_inst.gif
that can be used or hidden,can also use a background:url(images/<image name>.<ext>) in this block,or both superimposing them*/
#mastLogo{
	width: auto;
	background: transparent url(images/squares.jpg) no-repeat scroll 710px 0;
	padding-bottom: 15px; /* Spacing around oxford logo */
	display: block;
}


/*another container wrapping branding images - portal outputs one /library/skin/<skin name>/images/banner_inst.gif
that can be used or hidden,can also use a background:url(images/<image name>.<ext>) in this block,or both superimposing them*/
#mastBanner{
	vertical-align: top;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 270px;/* Ensure we never overlap the mastLogo */
}

/*the portal outputs an image that can be treated here or hidden with display:none*/
#mastBanner img{
	margin: 0px;
	padding: 0px;
}

/*container wrapping,depending on Sakai settings:1) a login form,2) a login link for CAS,3) a logout link*/
#mastLogin{
	float: none;
	text-align: right;
	vertical-align: top;
	clear: both;
	padding-right: 2%;
	margin-top: 0.01em; /* Hack for FF2 scroll lines */
	zoom: 1; /* Hack to get IE to reduce padding/margin */
}

/*block for login/logout links */
#loginLinks{
	margin-bottom: 0.4em;
	clear: none;
	width: auto;
	float:right;
}

/* WL-681 Display of related systems links */
#relatedLinks {
	float: left;
}


